.confirmationContainer {
  /* min-height: 80vh; */
  /* min-height: 44rem; */
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 1rem auto;
}

.conirmationBox {
  background-color: #fbf7f5;
  margin: 1rem;
  padding: 3rem;
  border: 2px solid#196ba3;
  border-radius: 10px;
}

span {
  color: #196ba3;
}

.numberStyle {
  font-weight: bold;
}

.return-home-btn {
  display: block;
  background-color: #196ba3;
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 2rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.return-home-btn:hover {
  background-color: #145785;
}

@media screen and (max-width: 600px) {
  .confirmationContainer h1 {
    font-size: 2.5rem;
  }

  .conirmationBox {
    padding: 1rem;
    margin: 1rem;
  }
}
