body main {
  max-width: 80ch;
  margin: 0 auto;
  padding: 0.5rem;
}

h1,
h2 {
  color: #196ba3;
}

#puddle {
  display: block;
  max-width: 33rem;
  width: 90vw;
  height: auto;
  margin: 1rem auto;
}

/* =========== Accordion =========== */
.accordion {
  border: 2px solid #196ba3;
}

.accordion-item {
  border-bottom: 1px solid #196ba3;
}

.accordion-header {
  background-color: #f9f9f9;
  cursor: pointer;
  padding: 1rem;
  font-weight: bold;
  border: none;
  text-align: left;
  outline: none;
  width: 100%;
}

.accordion-content {
  display: none;
  padding: 1rem;
}

.accordion-header.active + .accordion-content {
  display: block;
}

.accordionIcon {
  float: right;
  font-size: 1rem;
}
/* =============================== */
