@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

/* ========== Global ======== */
body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

body main {
  max-width: 80ch;
  margin: 0 auto;
  padding: 0.5rem;
}

h1 {
  font-size: 3.5rem;
  color: #196ba3;
  margin: 1rem 0;
}

h2 {
  font-size: 3rem;
  color: #196ba3;
  margin: 1rem 0;
}

h3 {
  font-size: 2.5rem;
  color: #196ba3;
  margin: 1rem 0;
}

h4 {
  font-size: 2rem;
  color: #196ba3;
  margin: 1rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/* ========== Nav Bar ======== */
#nav-logo {
  width: 11rem;
  height: auto;
}

nav {
  background-color: #f9f9f9;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #0e1111;
  font-size: 1.4rem;
  padding: 0 1rem;
}

nav a:hover {
  color: #196ba3;
}

.navLinks {
  display: inline-block;
  margin-left: 2rem;
}

.leftNav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

/* Footer */

footer {
  background-color: #fbf7f5;
  padding: 1rem;
}

#footerLogo {
  display: block;
  margin: 0 auto;
  width: 18rem;
  height: auto;
}

.footerElements {
  max-width: 80ch;
  margin: 0 auto;
  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
}

.footerElements h4 {
  margin: 0.5rem 0;
}

.footerElements p {
  margin: 0.5rem 0;
}

.footerLinks {
  margin: 0 0.5rem;
}
