@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#nav-logo {
  width: 11rem;
  height: auto;
}

nav {
  background-color: #f9f9f9;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #0e1111;
  font-size: 1.4rem;
  padding: 0 1rem;
}

nav a:hover {
  color: #196ba3;
}

.navLinks {
  display: inline-block;
  margin-left: 2rem;
}

.leftNav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

/* Hero */

.heroImg {
  background-image: url(/img/shoeHero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80vh;
}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.heroText h1 {
  font-size: 10rem;
  font-weight: 600;
  color: #196ba3;
}

.heroText p {
  font-size: 4rem;
}

.heroButton {
  padding: 1rem 1.4rem;
  border: black 2px solid;
  color: black;
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  background-color: #196ba3;
  color: white;
  cursor: pointer;
  margin-bottom: 10rem;
}

/* Welcome */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 80ch;
  margin: 2rem;
}

.welcome h2 {
  font-size: 3rem;
  color: #196ba3;
}

.welcome p {
  font-size: 1.4rem;
}

/* Newsletter */

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 80ch;
  margin: 2rem;
}

.newsletterText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter h3 {
  font-size: 3rem;
  color: #196ba3;
}

.newsletter p {
  font-size: 1.2rem;
}

.newsletterBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.newsletterBox label {
  font-size: 1.2rem;
  margin: 1rem;
  font-weight: bold;
}

input[type="email"] {
  min-width: 30ch;
  padding: 10px;
  margin: 8px 0px;
  border: 1px solid black;
  border-radius: 3px;
}

#emailButton {
  padding: 1.2rem;
  padding: 10px;
  margin: 8px 0px;
  margin-left: 1.2rem;
  cursor: pointer;
  background-color: #196ba3;
  color: white;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 5px;
}

/* Footer */

footer {
  background-color: #fbf7f5;
  padding: 1rem;
}

#footerLogo {
  display: block;
  margin: 0 auto;
  width: 18rem;
  height: auto;
}

.footerElements {
  max-width: 80ch;
  margin: 0 auto;
  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
}

.footerElements h4 {
  margin: 0.5rem 0;
}

.footerElements p {
  margin: 0.5rem 0;
}

.footerLinks {
  margin: 0 0.5rem;
}
@media only screen and (max-width: 1050px) {
  .heroText h1 {
    font-size: 5rem;
  }

  .heroText p {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .heroText h1 {
    font-size: 3rem;
  }

  .heroText p {
    font-size: 2rem;
  }
}
