body main {
  max-width: fit-content;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.product-card {
  display: flex;
  max-width: 44rem;
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 40%;
  background-color: #f6f6f6;
  background-color: #f6f6f6;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  margin: 0;
  padding: 0;
  width: 60%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #111827;
  margin: 0;
}

.product-price {
  font-size: 1.75rem;
  font-weight: 800;
  color: #2563eb;
}

.product-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 0.9rem;
  color: #4b5563;
  margin-bottom: 1rem;
  line-height: 1.4;
  overflow: hidden;
  margin: 0;
}

.product-specs {
  margin-bottom: 1rem;
}

.product-color,
.product-sizes {
  font-size: 0.8rem;
  color: #4b5563;
  margin: 0.3rem 0;
}

.product-color span {
  color: #2563eb;
  text-transform: capitalize;
}

.size-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.size {
  background-color: #f3f4f6;
  padding: 0.25rem 0.4rem;
  border-radius: 0.25rem;
  font-size: 0.7rem;
  color: #4b5563;
  transition: all 0.2s ease;
}

.view-product-btn {
  width: 100%;
  padding: 0.6rem;
  background-color: #196ba3;
  border: none;
  border-radius: 0.75rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-product-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #0c354c;
}

.chevron-right {
  margin-left: 0.5rem;
  transition: transform 0.2s ease;
}

.view-product-btn:hover .chevron-right {
  transform: translateX(4px);
}

@media (max-width: 1200px) {
  .product-container {
    grid-template-columns: 1fr;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
    height: auto;
  }

  .product-image,
  .product-info {
    width: 100%;
  }

  .product-image {
    height: 250px;
  }
}

a:hover {
  color: #196ba3;
}
